{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block head_css %}{% endblock %}
    {% block head_javascript %}{% endblock %}
</head>
<body>

{% block header %}
    {% include 'includes/_header.html' %}
{% endblock %}

{% block menu %}
    {% include 'includes/_menu.html' %}
{% endblock %}

{% block content %}{% endblock %}

<script src="{% static 'js/common.js' %}"></script>

{% block footer_javascript %}{% endblock %}

{% block footer %}
    {% include 'includes/_footer.html' %}
{% endblock %}

</body>
</html>