{% extends "layouts/base.html" %}

{% block content %}

    <h1> Author List </h1>

    </br>

    {% if authors %}
        <ul>
            {% for author in authors %}
                <li> {{ author.name }} </li>
            {% endfor %}
        </ul>

        <div class="pagination">
            <span class="step-links">
                {% if authors.has_previous %}
                    <a href="?page={{ authors.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ authors.number }} of {{ authors.paginator.num_pages }}.
                </span>

                {% if authors.has_next %}
                    <a href="?page={{ authors.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        Authors not found
    {% endif %}

    <br/>

    <a href="/books/add_author"> Add New Author</a>

{% endblock %}