{% extends "layouts/base.html" %}
{% load i18n %}

{% block content %}

<form id="author_form" method="post" action="{% url 'add_author' %}">

    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
    {% endfor %}

    </br>

    <input type="button" value="{% trans 'Cancel' %}" onclick="window.location = '/books/authors'">
    <input type="submit" name="submit" value="{% trans 'Add Author' %}"/>
</form>

{% endblock %}